.dropdown-menu-select.dropdown-menu
	.dropdown-item:has(.lfr-cmp__select-project-modal-new-project) {
	background-color: transparent;
	padding: 0.5rem 1rem;
}

.lfr-cmp__select-project-modal {
	&-new-project {
		&-btn {
			align-items: center;
			display: flex;
			gap: 0.5rem;
			justify-content: center;
			width: 100%;
		}
	}
}
